<%- include('header') %>		
		<div class="main-container">
		<section class="pure-text-centered">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-justify">
							
							<h1><strong>A little information about me</strong></h1>
							<p class="lead">
								I am a graduate of Bachelor of Science in Information Technology way back 2015. After graduating, i worked on two jobs unrelated to my course. First is working at the Accounting Department
							in the government and then recently was as a Customer Service Representative.
							</p>
							<p class="lead">
								I decided to quit my job as a CSR last April 2020 to pursue my passion and profession as a Web Developer. I then started relearning stuffs and is very motivated to work hard on
								improving my skills as well as to be able to land a job as a programmer.
							</p>
						</div>
					</div>
		
				</div>
			</section>
			
			<section class="inline-image-right">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 align-vertical no-align-mobile">
							<h1>Why am I doing this?</h1>
							<h6>Because I love challenges</h6>
							<p class="lead text-justify">
								I always challenged myself to be a better version of myself every step of the way. I always see programming as a very steep mountain to climb. It is difficult but also very rewarding.
								I always feel satisfied once I complete projects and learn different things along the way. I see programming as a part of my life and not as something that I call as a job.	
							</p>
						</div>
						
						<div class="col-sm-6 text-center">
							<img alt="Product Image" class="product-image" src="img/devices.png">
						</div>
					</div>
				</div>
			</section>
			
			<section class="duplicatable-content">
			
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>A few things you need to know</h1>
						</div>
					</div>
		
					<div class="row">
						<div class="col-sm-6">
							<div class="feature feature-icon-large d-flex">
								<div class="pull-left">
									<i class="fa fa-database"></i>
								</div>
								<div class="pull-right">
									<h5>Database Administration</h5>
									<p>
										I am really good with database queries, management, security and maintenance.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="fa fa-desktop"></i>
								</div>
								<div class="pull-right">
									<h5>Web Design</h5>
									<p>
										I have knowledge with CSS and bootstrap as well as responsive design so you can see to it that I will get the work done.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="fa fa-folder-open"></i>
								</div>
								<div class="pull-right">
									<h5>Custom Web Application</h5>
									<p>
										I will create websites that is specific for your organization. Just tell me the details and the requirement for the job.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="fa fa-male" aria-hidden="true"></i>
								</div>
								<div class="pull-right">
									<h5>Awesome personality</h5>
									<p>
										I am driven, motivated, passionate and is focused on any task given to me.
									</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			
			</section>
		</div>

<%- include('footer') %>	
				