<%- include('header') %>		
		<div class="main-container">
		<section class="pure-text-centered">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-justify">
							
							<h1><strong>A little information about me</strong></h1>
							<p class="lead">
								I am a graduate of Bachelor of Science in Information Technology way back 2015. After graduating, i worked on two jobs unrelated to my course. First is working at the Accounting Department
							in the government and then recently was as a Customer Service Representative.
							</p>
							<p class="lead">
								I decided to quit my job as a CSR last April 2020 to pursue my passion and profession as a Web Developer. I then started relearning stuffs and is very motivated to work hard on
								improving my skills as well as to be able to land a job as a programmer.
							</p>
						</div>
					</div>
		
				</div>
			</section>
			
			<section class="inline-image-right">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 align-vertical no-align-mobile">
							<h1>Why am I doing this?</h1>
							<h6>Because I love beautiful things</h6>
							<p class="lead">
								At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,.
							</p>
						</div>
						
						<div class="col-sm-6 text-center">
							<img alt="Product Image" class="product-image" src="img/devices.png">
						</div>
					</div>
				</div>
			</section>
			
			<section class="duplicatable-content">
			
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h1>A few things you need to know</h1>
						</div>
					</div>
		
					<div class="row">
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-desktop"></i>
								</div>
								<div class="pull-right">
									<h5>Web Design</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-phone"></i>
								</div>
								<div class="pull-right">
									<h5>Mobile Design</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-strategy"></i>
								</div>
								<div class="pull-right">
									<h5>Marketing strategy</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="feature feature-icon-large">
								<div class="pull-left">
									<i class="icon icon-profile-male"></i>
								</div>
								<div class="pull-right">
									<h5>Awesome personality</h5>
									<p>
										Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
									</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			
			</section>
		</div>

<%- include('footer') %>	
				