<%- include('header') %>
		<div class="main-container">
		<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Blog posts</h1>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<a href="blog_post.html" target="_self">
									<img alt="Blog Thumb" src="img/blog_thumb_1.jpg">
								</a>
								<h2>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</h2>
								<span class="sub alt-font">Published: 8 May 2015</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
								<a href="blog_post.html" class="link-text" target="_self">READ MORE</a>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<a href="blog_post.html" target="_self">
									<img alt="Blog Thumb" src="img/blog_thumb_2.jpg">
								</a>
								<h2>Exercitationem ullam corporis suscipit laboriosam</h2>
								<span class="sub alt-font">PUBLISHED: 5 MAY 2015</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
								<a href="blog_post.html" class="link-text" target="_self">READ MORE</a>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<a href="blog_post.html" target="_self">
									<img alt="Blog Thumb" src="img/blog_thumb_3.jpg">
								</a>
								<h2>Lipsum illum qui dolorem eum fugiat quo voluptas nulla pariatur</h2>
								<span class="sub alt-font">PUBLISHED: 1 MAY 2015</span>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
								</p>
								<a href="blog_post.html" class="link-text" target="_self">Read More</a>
							</div>
						</div>
					</div>	
				</div>
			</section>
		</div>

<%- include('footer') %>	