<%- include('header') %>		
		<div class="main-container">
		<section class="map-overlay">
				<div class="map-holder">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5009.805747396725!2d144.97845929871335!3d-37.86445163302962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6686626d1c9bf%3A0x24b207169447a3a5!2sClyde+St%2C+St+Kilda+VIC+3182!5e1!3m2!1sen!2sau!4v1405985274446"></iframe>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
							<div class="details-holder">
								<div class="align-vertical">
									<img alt="Logo" src="img/JM-logo.png">
									<p class="lead">
										jmannacera@gmail.com<br>
										(032)-479-3524<br>
										+639-999-898-403<br>
										+639-058-624-282</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section description-->
    <p class="text-center w-responsive">Do you like my work? Please contact me and let us discuss your project.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-10 mx-auto">
            <form id="contact-form" name="contact-form" action="/mail" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="name" name="name" class="form-control" required>
                            <label for="name">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <input type="text" id="email" name="email" class="form-control" required>
                            <label for="email">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control" required>
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" required></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
		</div>

<%- include('footer') %>	
				